@model ConfigurationModel

<div class="card-body">
    <div class="form-group row">
        <div class="col-md-4">
            <nop-override-store-checkbox asp-for="ApplicationId_OverrideForStore" asp-input="ApplicationId" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="ApplicationId" />
        </div>
        <div class="col-md-8">
            <nop-editor-check asp-for="ApplicationId" />
            <span asp-validation-for="ApplicationId"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-4">
            <nop-override-store-checkbox asp-for="SearchOnlyKey_OverrideForStore" asp-input="SearchOnlyKey" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="SearchOnlyKey" />
        </div>
        <div class="col-md-8">
            <nop-editor-check asp-for="SearchOnlyKey" />
            <span asp-validation-for="SearchOnlyKey"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-4">
            <nop-override-store-checkbox asp-for="AdminKey_OverrideForStore" asp-input="AdminKey" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="AdminKey" />
        </div>
        <div class="col-md-8">
            <nop-editor-check asp-for="AdminKey" />
            <span asp-validation-for="AdminKey"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-4">
            <nop-override-store-checkbox asp-for="UsageKey_OverrideForStore" asp-input="UsageKey" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <nop-label asp-for="UsageKey" />
        </div>
        <div class="col-md-8">
            <nop-editor-check asp-for="UsageKey" />
            <span asp-validation-for="UsageKey"></span>
        </div>
    </div>
</div>