@using Nop.Core
@using Nop.Services.Localization

@inject IThemeContext themeContext
@inject ILocalizationService localizationService
@inject IStoreContext storeContext

@{
    var logoPath = $"~/Themes/{await themeContext.GetWorkingThemeNameAsync()}/Content/img/logo.png";
    var themeLogo = await Component.InvokeAsync("Widget", new { widgetZone = "prisma_theme_logo"});
}

<a href="@Url.RouteUrl(NopRouteNames.General.HOMEPAGE)" class="logo">
    @if (!String.IsNullOrEmpty(await themeLogo.RenderHtmlContentAsync()))
    {
        @themeLogo
    }
    else
    {
	string storeName = await localizationService.GetLocalizedAsync(await storeContext.GetCurrentStoreAsync(), x => x.Name);
        <img title="" alt="@storeName" src="@Url.Content(logoPath)">
    }
</a>